global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  1h
    timeout server  1h

frontend stratum_frontend
    bind *:3333
    default_backend stratum_proxies

backend stratum_proxies
    balance roundrobin
    # check if port is open
    option tcp-check
    server proxy1 xmrig-proxy-1:3333 check inter 5s fall 3 rise 2
    server proxy2 xmrig-proxy-2:3333 check inter 5s fall 3 rise 2
